body {
    background-color: #112132;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px auto;
    max-width: 600px;
}

h1 {
    color: orange;
    text-align: center;
}

a {
    color: aqua;
}
a:hover {
    color: aliceblue;
}

.boxed {
    border: 3px solid #000000;
    background-color: #2f3030;
    padding: 8px 16px;
    margin: 10px;
}

h2 {
    margin: 0 auto 10px;
}

button {
    font-size: large;
    font-weight: bold;
    background-color: #2f3030;
    color: aliceblue;
    padding: 4px 16px;
    margin: 10px;
}

img {
    display: block;
    margin: 10px auto;
}